<?xml version="1.0" encoding="utf-8"?>
<packages>    
    <!-- cinst path_to_this_file -->
    <package id="boxstarter" />
    <package id="chocolatey" />
    <package id="chocolateyGUI" />
    <package id="NuGet.CommandLine" />
    <package id="NugetPackageManager" />        
    <package id="poshgit" />
    <package id="beyondcompare" />   
    <package id="SourceTree" />     
    <package id="visualstudiocode" />
    <package id="7zip.install" />        
    <package id="curl" />            
    <package id="windirstat" />    
    <package id="mRemoteNG" />    
    <package id="lockhunter" />
    <package id="sysinternals" />        
</packages>
